<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itrjp.form.mapper.FormDataMapper">
    <select id="getSubmitFormListByPatientId" resultType="com.itrjp.form.pojo.model.FormSummitLog">
        SELECT
        f.title,
        f.form_id AS formId,
        fd.CREATED_TIME AS submitTime,
        fd.uuid AS resultId
        FROM
        form_data fd,
        form f
        WHERE
        fd.form_id = f.form_id
        AND fd.USER_ID = #{userId}
        and fd.owner_id = #{ownerId}
        order by fd.CREATED_TIME desc
    </select>
    <select id="getFormResultByUserIds" resultType="com.itrjp.form.pojo.model.FormDataDTO">
        SELECT
        f.form_id AS formId,
        f.access AS formAccess,
        fd.user_id,
        fd.SCORE,
        fd.`LEVEL`,
        fd.owner_id,
        fd.CREATED_TIME AS submitTime,
        f.TITLE,
        fd.submitter_id,
        fd.Uuid AS resultId
        FROM
        form_data fd,
        form f
        WHERE
        fd.FORM_ID = f.form_id
        AND fd.SUBMITTER_ID = #{submitterId}
        AND fd.USER_ID IN
        <foreach collection="userIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test="ownerIds != null and ownerIds.size()>0">
            AND fd.owner_id in
            <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by fd.CREATED_TIME ${sortType}
    </select>
    <select id="getByResultId" resultType="com.itrjp.form.pojo.model.FormDataDTO"
            parameterType="java.lang.String">
        SELECT
        f.form_id AS formId,
        f.access AS formAccess,
        fd.user_id,
        fd.SCORE,
        fd.`LEVEL`,
        fd.owner_id,
        fd.CREATED_TIME AS submitTime,
        f.TITLE,
        fd.submitter_id,
        fd.Uuid AS resultId
        FROM
        form_data fd,
        form f
        WHERE
        fd.FORM_ID = f.form_id
        AND fd.Uuid = #{resultId}
    </select>
    <select id="getFormResult" resultType="com.itrjp.form.pojo.model.FormDataDTO">

        SELECT
        f.form_id AS formId,
        f.access AS formAccess,
        fd.user_id,
        fd.SCORE,
        fd.`LEVEL`,
        fd.owner_id,
        fd.CREATED_TIME AS submitTime,
        f.TITLE,
        fd.submitter_id,
        fd.Uuid AS resultId
        FROM
        form_data fd,
        form f
        WHERE
        fd.FORM_ID = f.form_id
        <if test="ownerIds != null and ownerIds.size() > 0">
            AND OWNER_ID IN
            <foreach collection="ownerIds" close=")" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userIds != null and userIds.size() > 0">
            AND fd.USER_ID IN
            <foreach collection="userIds" close=")" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="formIds != null and formIds.size() > 0">
            AND fd.FORM_ID IN
            <foreach collection="formIds" close=")" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </if>
        AND fd.CREATED_TIME BETWEEN #{startTime} AND #{endTime}


        <choose>
            <when test="sortType != null and sortType == 'ASC'">
                order by fd.CREATED_TIME asc
            </when>
            <otherwise>
                order by fd.CREATED_TIME desc
            </otherwise>
        </choose>
    </select>
    <select id="formSubmitCountByUserIds" resultType="com.itrjp.form.pojo.model.FormDataDTO"
            parameterType="java.util.List">
        SELECT
        f.form_id AS formId,
        f.access AS formAccess,
        fd.user_id,
        fd.SCORE,
        fd.`LEVEL`,
        fd.owner_id,
        fd.submitter_id,
        fd.CREATED_TIME AS submitTime,
        f.TITLE,
        fd.Uuid AS resultId
        FROM
        form_data fd,
        form f
        WHERE
        fd.FORM_ID = f.form_id
        AND fd.user_id in
        <foreach collection="userIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
    <select id="formSubmitCountByPatientId" resultType="java.lang.String">
        SELECT
        submitter_id
        FROM
        form_data
        WHERE
        USER_ID = #{userId}
        AND OWNER_ID = #{ownerId}
        ORDER BY
        CREATED_TIME DESC
        LIMIT 1
    </select>
    <select id="getOwnerFormCount" resultType="com.itrjp.form.pojo.model.OwnerCountDTO"
            parameterType="java.util.List">
        select owner_id, count(1) as `count` from form_data where owner_id in
        <foreach collection="ownerIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by owner_id
    </select>
</mapper>
